body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(145, 150, 153, 0.434);
    cursor: none;
  }
  
  .varita {
    width: 38px; /* Ajusta el ancho de la varita */
    height: 38px; /* Ajusta la altura de la varita */
    position: absolute;
    pointer-events: none; /* Hace que la imagen de la varita no interfiera con otros elementos */
}

#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

  header {
    background-color: #343a40;
    color: white;
    padding: 1em 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 1em;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 2em;
    text-align: center;
  }
  
  .intro {
    max-width: 800px;
    margin: 0 auto;
  }
  
  footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }